/** 
VARIABLES
**/

/* Basic */

$white: #fff;
$black: #000;
$dark-gray: #333;
$gray: #555;
$light-gray: #888;
$lighter-gray: #e0e0e0;

/* Primary */

$primary-yellow: rgb(244, 255, 92);
$primary-teal: rgb(116, 242, 203);